body{
    margin: 0;
    font-family: 'Karla', Arial, Helvetica, sans-serif;
    font-weight: lighter;
}
header{
    background-color: #104C35;
    color: white;
    display: flex;
    justify-content: space-between;
    height: 62px;
}
header p{
    padding: auto 25px;
    margin: auto 25px;
}
#Company{
    font-size: 25px;
    font-family: Kavoon;
}
#main-nav{
    display: flex;
    flex-direction: row;
    padding-right: 3vw;
}
#main-nav a{
    padding: 0 15px;
    color: white;
    text-decoration: none;
}

li{
    font-size: 1.5rem;
    margin-top: 0.5rem;
    list-style: none;
}
.increase{
    background-color: rgb(37, 48, 143);
}

/* Inputs*/
button{
    border-radius: 50px;
    padding: 5px 10px;
    font-size: 1rem;
    color: white;
    border: none;
}
#addItemBtn{
    background-color: #104C35;
}
.decrease{
    background: linear-gradient(rgb(202, 48, 48), rgb(119, 11, 11))
}
input{
    padding: 5px 10px;
}

/*Resturant*/
.resturant-banner{
    background-image: url(assets/images/chinese-food-5233512_1920.jpg);
    background-size:cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    height: 10vw;
}
.resturant-info{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.resturant-pfp{
    border-radius: 100%;
    border: 5px solid #FFFFFF;
    width: 150px;
    height: 150px;
    margin-left: 97px;
    margin-top: -3vw;
}

/*Main Sections Styling*/
#addItem-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-top: 0;
    margin: 50px;
}
#cart-container{
    margin: 50px;
}
#menu-Area{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-right: 15vw;
}

#welcomeMsg{
    font-size: 3rem;
}

#itemInput, #addItemBtn{
    height: 2rem;
    width: auto;
    margin-right: 15px;
}
#itemInput{
    border: 2px solid #104C35;
    margin-bottom: 1vw;
    border-radius: 15px;
    padding-right: 6vw;
}

#totalPriceText{
    font-weight: bold;
    font-size: 24px;
    color: #104C35;
}