body{
    margin: 0;
    font-family: 'Karla', Arial, Helvetica, sans-serif;
    font-weight: lighter;
    height: fit-content;
    background-color: #2B2828;
}
/*HEADER------------------------------*/
header{
    background-color: #104C35;
    color: white;
    display: flex;
    flex-direction: column;
    height: fit-content;
}
header p{
    padding: auto 25px;
    margin: auto 25px;
}
#Company{
    font-size: 25px;
    font-family: Kavoon;
    color: #BFFFD1;
}
#tagline{
    font-size: 20px;
}
#main-nav{
    display: flex;
    flex-direction: row;
    margin-right: 5vw;
}
#company-bar{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
    
#user-interaction-bar{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    background-color: white;
    color: black;
    height: 68px;
}
#address-container{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    margin-right: 9vw;
}

#address-icon{
    width: 26px;
    height: 35px;
    margin-left: 1vw;
    margin-right: -1vw;
}
#address{
   font-size: 24px; 
   font-weight: 400;
}
#resturant-input{
    width: 50vw;
    height: 3vw;
    background-color: #D5D5D5;
    border: 1px solid #104C35;
    border-radius: 50px;
}
#cart-icon{
    width: 2.5vw;
    height: 2vw;
    margin-right: 5vw;
}
/*anchor tags*/
#main-nav a{
    padding: 0 15px;
    color: white;
    text-decoration: none;
}

/*MAIN------------------------------*/
main{
    margin: auto 3vw;
    background-color: white;
    height: 75vw;
}
/*All list Items*/
li{
    font-size: 1.5rem;
    margin-top: 0.5rem;
    list-style: none;
}

/* Inputs*/
button{
    border-radius: 50px;
    padding: 5px 10px;
    font-size: 1rem;
    color: white;
    border: none;
}
#addItemBtn{
    background-color: #104C35;
}
.increase, .decrease {
    font-size: 24px;
    padding: 0;
    margin: auto 1vw;
    background-color:transparent;
    color: black;
}

input{
    padding: 5px 10px;
}

/*Resturant*/
.resturant-banner{
    background-image: url(assets/images/chinese-food-5233512_1920.jpg);
    background-size:cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    height: 10vw;
}
.resturant-info{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.resturant-pfp{
    border-radius: 100%;
    border: 5px solid #FFFFFF;
    width: 150px;
    height: 150px;
    margin-left: 97px;
    margin-top: -3vw;
}

/*Section Styling*/
/*MENU----*/
#menu-Area{
    padding-right: 15vw;
    text-align: center;
}
#menu{
    color: black;
    display: flex;
    flex-direction: row;
}
#menu div{
    margin: auto 2vw;
}
/*Ordering Input Area----*/
#addItem-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-top: 0;
    margin: 50px;
}
#welcomeMsg{
    font-size: 3rem;
}
#itemInput, #addItemBtn{
    height: 2rem;
    width: auto;
    margin-right: 15px;
}
#itemInput{
    border: 2px solid #104C35;
    margin-bottom: 1vw;
    border-radius: 15px;
    padding-right: 6vw;
}
/*CART----*/
#cart-container{
    margin: 50px;
}
#totalPriceText{
    font-weight: bold;
    font-size: 24px;
    color: #104C35;
}

/*Listing Styling*/

.foodItems{
    display: flex;
    flex-direction: row;
    font-weight: 400;
}
.quantity-container{
    border: 2px solid #104C35;
    border-radius: 50px;
    margin-left: 1vw;
}
.quantity{
    font-size: 24px;
}

/*Footer------------------------------*/
footer{
    background-color: #104C35;
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: fit-content;
}
#foot-nav, #foot-socials{
    margin: auto 2vw;
    display: flex;
    flex-direction: row;
}
#foot-nav a, #foot-socials a{
    margin: auto 0.5vw;
    color: white;
    text-decoration: none;
}